.espacio-nuevo {
  display: block;
  margin: auto;
}
.espacio-nuevo form:first-child {
  margin-top: 5rem;
}
.espacio-nuevo select {
  border: 1px solid black;
  width: 93vw;
  margin-left: 10px;
  padding: 0.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.espacio-nuevo input {
  border: 1px solid black;
  width: 93vw;
  margin-left: 10px;
  padding: 0.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.espacio-nuevo button {
  width: 93vw;
  height: 40px;
  border: 1px solid black;
  border-radius: 7px;

  font-size: 17px;
}

.foto img {
  display: none;
}
.espacio-nuevo div {
  margin-left: 10px;
}
@media (min-width: 700px) {
  .espacio-nuevo {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    flex-direction: row;
    width: 90vw;
  }
  .espacio-nuevo select,
  .espacio-nuevo input {
    width: 40vw;
  }
  .espacio-nuevo {
    margin-top: 2rem;
  }
  .espacio-nuevo button {
    width: 20vw;
    height: 40px;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 10px;
    margin-left: 10vw;

    font-size: 17px;
  }

  .foto img {
    display: block;
    width: 15rem;
    margin-top: 10rem;
  }
}

@media (min-width: 1000px) {
  .foto img {
    display: block;
    margin-top: 10rem;
    margin-right: 10rem;
  }
}
