@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: Lato, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100vw;
}

div.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div.content main {
  flex-grow: 1;
}

button:hover {
  background-color: grey;
  color: white;
}
